body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e7ecef;
}

/* the title at the top of the page */
#page-title {
    font-size: 30px;
    text-align: center;
    padding: 30px;
    color: #274c77;
}

/* The main content of the page, consisting of the three main panes (users/groups list, current chat, and task list) */
#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* The left pane, containing both the user list and the group list */
#user-and-group-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

/* Each top-level widget (denoted by a white background)
Includes user list, group list, current chat, and task list */
.widget {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* The title at the top of each widget */
.widget-title {
    font-size: 20px;
    padding: 20px;
    background-color: #a3cef1;
    color: white;
    text-align: center;
}

#user-list {
    margin-bottom: 25px;
    height: 400px;
}

#group-list {
    height: 400px;
}

#current-chat {
    width: 47%;
    height: 825px;
}

#task-list {
    width: 30%;
    height: 825px;
}

/* all individual list items */
.task-list-task, .user-list-user, .group-list-group, .current-chat-message-other, .current-chat-message-self {
    padding: 15px;
    font-size: 15px;
}

/* on hover over any item, change the colors to denote that it is being hovered over */
#page-title:hover, .button:hover, .task-list-task:hover, .user-list-user:hover, .group-list-group:hover, .current-chat-message-other:hover, .current-chat-message-self:hover {
    background-color: #274c77;
    color: white;
}

/* currently-selected user or group in user list or group list (only one at a time) */
#selected {
    background-color: #274c77;
    color: white;
    border: 1px solid transparent;

}

/* all buttons, using custom button class */
.button, button {
    border: none;
    background-color: #6096ba;
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: auto;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    /* display: none; */
}

.current-chat-message-self {
}

.current-chat-message-self:hover button {
    display: inline-block;
    top: 100px;
    left: 0;
}

.current-chat-message-other button {
    margin-right: 20px;
}

.current-chat-message-self button {
    margin-left: 20px;
}

/* container element for the draft input text box (container needed to allow padding without expanding input beyond 100% width) */
#current-chat-draft-container {
    border-top: 1px solid #e7ecef;
    margin-top: auto;
}

/* draft input text box */
#current-chat-draft {
    height: 80px;
    border: none;
    font-size: 20px;
    display: block;
    resize: none;
    margin-top: auto;
    padding: 20px;
}

textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* container for messages sent from others */
.current-chat-message-other-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/* container for messages sent by self */
.current-chat-message-self-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

/* message bubbles */
.current-chat-message-other, .current-chat-message-self {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* message bubble from someone else */
.current-chat-message-other {
    text-align: left;
    background-color: #274c77;
    color: white;
    margin-left: 20px;
    border: 1px solid transparent;

}

/* message bubble from self */
.current-chat-message-self {
    text-align: right;
    margin-right: 20px;
    background-color: #8b8c89;
    color: white;
}

/* reverse colors when a colorful element is hovered over */
.current-chat-message-other:hover, #selected:hover {
    text-align: left;
    background-color: white;
    color: black;
    border: 1px solid #274c77;
    box-sizing: border-box;
}

/* the ... that displays when the other party is typing */
#current-chat-ellipsis {
    animation: wave 1s infinite alternate;
}

/* keyframes for the pulsating in and out ellipsis */
@keyframes wave {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

/* the interactive checkbox for each task */
.task-list-task-checkbox {
    width: 25px;
    height: 25px;
}

/* hides the focus border around the input */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* the username portion of the user's card */
.user-list-user-username {
    font-size: 12px;
}

/* make panes that can have numerous rows scrollable so they don't overflow but still have all content accessible (via scrolling) */
#user-list-users, #group-list-groups, #current-chat-message-container, #task-list-tasks, ul {
    overflow: scroll;
}

.user-profile-container {
    position: absolute;
    top: 25px;
    left: 25px;
    display: inline-block;
}


.user-profile-container-image:hover {
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
         filter: grayscale(100%);
}

input[type="submit"] {
    border: none;
    background-color: #6096ba;
    color: white;
    text-align: center;
    margin-top: auto;
}

/* all lists and list items */
ul, li {
    margin: 0;
    padding: 0;
}

/* all bulleted list items */
li {
    list-style: none;
}

/* enables multi-line text entry to be properly formatted and sent */
#message-box {
    white-space: pre-line
}

/* all text inputs */
input[type=text] {
    border: none;
}

.button {
    margin: 20px;
}